@import "../../var.scss";

.signup {
  background-color: rgba(255, 255, 255, 0.93);
  height: 200px;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  .signup-inner {
    margin: 20px;
    .signup-headline {
      color: $light-blue;
      font-size: 2em;
      font-weight: 600;
    }
    .signup-text {
      margin: 20px 0;
    }
    .signup-form {
      .forms-email {
        .email-address {
          font-size: 1.3em;
          width: 235px;
          padding: 10px;
          font-family: 'Fira Sans', sans-serif;
        }
        .zipcode {
          font-size: 1.3em;
          width: 60px;
          padding: 10px;
          margin: 0 10px;
          font-family: 'Fira Sans', sans-serif;
        }
        .submit {
          font-size: 1.3em;
          padding: 10px 20px;
          font-family: 'Fira Sans', sans-serif;
          border: 0;
          color: $white;
          font-weight: 600;
          background-color: #F58951;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
}
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .signup {
    width: 350px;
    height: 260px;
    .signup-inner {
      .signup-form {
        .forms-email {
          .zipcode {
            margin: 10px 10px 0 0;
          }
        }
      }
    }
  }
}
